.login{
  min-height: 100vh;
  background: url(/background.png) no-repeat;
  background-size:cover ;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.login.logo{
  width: max(20vw,200px);
}
.login-form{
  background:linear-gradient(135deg, #cb64d1, #939c9e, #b89ebd);
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
}
.login-form h2{
  font-weight: 500;
  color:rgb(224, 12, 12);
}
.form-input{
  padding: 8px 10px;
  border:1px solid #d80d9b;
  border-radius: 4px;
  outline-color: #077EFF;
}
.login-form button{
  padding:10px;
  background-color:#077EFF ;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login-term{
  display: flex;
  justify-content: center;
  gap: 8px;
  font-size: 12px;
  color:#000000;
  text-align: center;
}
.login-forget{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items:center;
}
.login-toggle{
  font-size: 13px;
  color: #000000;
}
.login-toggle span{
  font-weight: 500;
   color:#077EFF;
  cursor: pointer;
}