.rs{
  color: wheat;
  background: #d12b68;
  position: relative;
  height: 75vh;
  overflow:scroll;
}
.rs-profile{
  padding-top: 60px;
  text-align: center;
  max-width: 70%;
  margin: auto;
}
.rs-profile img{
  width: 110px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.rs-profile h3{
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 5px 0px;
}
.rs-profile p{
  font-size: 10px;
  opacity: 80%;
  font-weight: 300;
}
.rs hr{
  border-radius: #ffffff50;
  margin: 15px 0px;
}
.rs-media {
  padding:0px 20px 88px ;
  font-size: 13px;
}
.rs-media div{
  max-height: 180px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  margin-top: 8px;
}
.rs-media div img{
  width: 60px;
  border-radius: 4px;
  cursor: pointer;
}
 .rs button{
  position: absolute;
  bottom: 20xp;
  left: 50%;
  transform: translateX(-50%);
  background: #077eff;
  color: wheat;
  border: none;
  font-size: 12px;
  font-weight: 300;
  padding: 10px 65px;
  border-radius: 90px;
  cursor: pointer;
 }