.chat-box{
  height: 75vh;
  position: relative;
  background-color: #c455e5;
}
.chat-user{
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 10x solid #cf929279;
}
.chat-user img{
  width: 15px;
  border-radius: 50%;
}
.chat-user img:first-child{
  width: 38px;
  aspect-ratio: 1/1;
}
.chat-user p{
  flex: 1;
  font-weight: 500;
  font-size: 20px;
  color:#1c1b1b;
  display: flex;
  align-items: center;
  gap: 5px;
}
img.dot{
  width: 15px !important;
}
.chat-input{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  background: rgb(238, 193, 193);
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.chat-input img{
  width: 30px;
  cursor: pointer;
}
.chat-input label{
  display: flex;
}
.chat-input label img{
  width: 25px;
}
.chat-input input{
  flex-direction: 1;
  border:none;
 outline: none; 
}